body {
    background-color: #ffffff; /* 和風なアイボリー */
    font-family: "Noto Serif JP", serif;
    color: #3e3e3e;
    padding: 0px;
    margin: 0px;
    border: 0px;
}


/*ヘッダー(ロゴ)*/
.logo-link{
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: inherit;
    margin-right:auto;
    padding-left: 20px;
}

.logo{
    height: 50px;
}

/*ヘッダー(タイトル)*/
.site-title{
    font-size: 42px;
    font-weight: bold;
}

/*ヘッダー(本体)*/
header {
    padding: 1em 0;
}

.site-header {
    border-bottom: 1px solid #c0e2f0;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
    position: fixed;
    padding: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #a0d8ef;/*空色*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1100;
    transition: transform 0.3s ease; /* ← アニメーション */
}

/* 隠す用クラス */
.site-header.hide {
    transform: translateY(-100%);
}

/*サイドメニュー*/
.menu-wrapper{
    font-size:28px;
    background-color: #a0d8ef;
    border:none;
    cursor:pointer;
    margin-right: 50px;
    border-radius:10px;
    transition:all 0.2s;
    padding: 10px;
    position:relative;
}

.menu-wrapper:hover{
    background-color: #c0e2f0;
    transform: translateY(0px); 
}

.menu-icon{
    width:40px;
    height:25px;
    cursor:pointer;
    z-index:1100;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.menu-icon span{
    display:block;
    height:3px;
    background:#0d0015;/*漆黒*/
    border-radius:2px;
    transition:0.35s;
}

#menu-toggle:checked + header .menu-wrapper .menu-icon span:nth-child(1){
    transform:translateY(11px) rotate(45deg);
}

#menu-toggle:checked + header .menu-wrapper .menu-icon span:nth-child(2){
    opacity:0;
}

#menu-toggle:checked + header .menu-wrapper .menu-icon span:nth-child(3){
    transform:translateY(-11px) rotate(-45deg);
}

.side-menu{
    position:fixed;
    top:0;
    right:-250px;
    width:250px;
    height:100%;
    background:#a0d8ef;
    padding-top:100px;
    display:flex;
    flex-direction:column;
    transition:0.3s;
    z-index: 1050;
    transition: right 0.3s ease, opacity 0.3s ease;
    opacity:0;
}

/*サイドメニュー(開いた状態)*/
#menu-toggle:checked ~ .side-menu{
    right:0;
    opacity:1;
}

/*サイドメニュー(a)*/
.side-menu a{
    text-decoration:none;
    padding:15px 30px;
    font-size:18px;
    color:#0d0015;
}

.side-menu a:hover{
    background:url("https://www.transparenttextures.com/patterns/paper-fibers.png");
    background-color:#fffef8 ;
    color:#2c3e50
}

/*サイドメニュー(p)*/
.side-menu p{
    padding: 15px 30px;
    color:#0d0015;
    border-bottom:3px solid rgba(204,231,255,1.0);/*#c0e2f0*/
    margin-bottom:10px;
}

.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.3);
    opacity:0;
    pointer-events:none;
    transition:0.3s;
    z-index: 1000;
}

#menu-toggle:checked ~ .overlay{
    opacity:1;
    pointer-events:auto;
}

.season-label {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0.3em;
}

h1 {
    color: #0d0015;
    font-family: "Kaisei Decol", serif;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    color: #0d0015;
    font-family: "Noto Serif JP", serif;
    font-size: 32px;
    padding: 20px;
    margin: 0px;
}

h3{
    color: #0d0015;
    font-family: "Noto Serif JP", serif;
    font-size: 28px;
}
h4{
    color: #0d0015;
    font-family: "Noto Serif JP", serif;
    font-size: 28px;
    margin: 0px;
    padding: 10px;
}


/*input*/

input[type="range"]{
    vertical-align: middle;
    touch-action: none;
    background-color: #ebf6f7;
    border-radius: 5;
    height: 10px;
}
input[type="range"] ::-webkit-slider-runnable-track {
    background-color: #0d0015;
    height:5px;
    border-radius: 2.5px;
}
input[type="range"] ::-webkit-slider-thumb {
    background-color: #0d0015;
    height:5px;
    margin:10%;
    border-radius:2.5px;
}
#upload{
    color: #0d0015;
}

.file-upload {
    background: #a0d8ef;
    border: none;
    padding: 20px 60px;
    font-family: "Noto Serif JP", serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #0d0015;
    position: relative;
    cursor: pointer;
}

/* 本体は隠す */
.file-upload input {
    display: none;
}

/* ホバー */
.file-upload :hover{
    background-color: #00acf0;
}

/*a*/
a {
    color: #0d0015;
    font-weight: bold;
    font-family: "Noto Serif JP", serif;
    text-decoration: none;
}
a :hover{
    color: #00acf0;
}

/*p*/
p {
    color: #0d0015;
    font-family: "Noto Serif JP", serif;
    font-size: 20px;
}

.control-header p{
    font-size: 25px;
    margin: 0px;
}
/*li*/
li{
    color: #0d0015;
    font-family: "Noto Serif JP", serif;
    font-size: 20px;
    padding-top:20px; 
    padding-bottom:20px;
}
ul {
    padding: 10px;
    margin: 0px;
}
/*button*/
button {
    background: #a0d8ef;
    border: none;
    padding: 20px 60px;
    font-family: "Noto Serif JP", serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #0d0015;
    position: relative;
    cursor: pointer;
}
button::before,
button::after {
    content: "";
    position: absolute;
    left: 10%;
    width: 80%;
    height: 2px;
    background: #0d0015;
    transition: transform 0.3s ease;
}
button::before {
    top: 8px;
    transform-origin: left;   
}
button::after {
    bottom: 8px;
    transform-origin: right; 
}
button:hover::before {
    transform: scaleX(0); 
}
button:hover::after {
    transform: scaleX(0); 
}


.brightness-contrast-button{
    font-size: 18px;
    padding: 20px 40px;
    margin-left: 20px;
    margin-top: 10px;
}
/*div*/
div {
    background-color: #a0d8ef;
/*    border: 1px solid #c0e2f0;*/
    padding: 0px;
    border-radius: 5px;
}
.edit{
    background-color:#ebf6f7;
    border-radius: 0;
    border: none;
}
.select-file{
    margin: 20px;
    background-color: #ebf6f7;
}
/*フィルター*/
.filter{
    background-color:#ebf6f7;
    border: none;
    display: flex;
    flex-direction: column;
}
.control {
    border: 1px solid #c0e2f0;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}
.control :hover{
    color: #678b99;
}
.control-header {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}
.control-section {
    height: 30px;
    border-top: 3px solid #c0e2f0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0px;
    margin: 0px 15px;
}
.control-body {
    height: 52.67px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0px;
    margin: 0px;
}

.control-body-wrapper{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0px;
    margin: 0px;
}
.control.active .control-body {
    max-height: 52.67px;
    padding: 0px;
}

.control.active .control-body-wrapper {
    max-height: 100px;
}

.control.active .control-section {
    max-height: 100px;
    padding: 10px;
}
.edit-buttons{
    border-radius: 0;
    border: none;
    display: flex;
    flex-direction: row;
}
.edit-execution-button{
    background-color: #ebf6f7;
    border-radius: 0;
    border: none;
}
.edit-reset-button{
    background-color: #ebf6f7;
    border-radius: 0;
    border: none;
}
.edit-download-button{
    background-color: #ebf6f7;
    border-radius: 0;
    border: none;
}
/*main*/
main {
    background-color: #ebf6f7; 
    font-family: "Noto Serif JP", serif;
    color: #3e3e3e;
    padding: 0px;
    margin-top: 80px;
}

canvas {
    border: 1px solid #0d0015;
    max-width: 700px;
    margin: 10px;
}

/*フッター(本体)*/
footer{
    width: 100%;
    height: auto;
    background-color: #a0d8ef;
    display: flex;
    flex-direction: column;  /* ← これ追加 */
    align-items: flex-start; 
}

/*div*/
footer div{
    background-color: #a0d8ef;
    border-radius: 0;
    padding: 0px;
    border: none;
    margin-top: 0px;
    border-radius: none;
}
.footer-upper-logo{
    margin: 0 auto;
}
.footer-upper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-upper-nav-clm{
    border-bottom:1px solid rgba(192,226,240,1.0);/*#c0e2f0*/
}
.footer-lower {
    width: 100%;
    background-color: #00acf0;
    margin-top: 10px;
}
.footer-container{
    width: 100%;
    background-color: #00acf0;
}

/*a*/
.footer-logo-link{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: inherit;
    padding-left: 20px;
}
/*img*/
.footer-logo{
    height: 30px;
}
/*h1*/
.footer-title{
    font-size: 30px;
    font-weight: bold;
}
/*p*/
footer p{
    font-size: 20px;
    padding: 0px 30px;
    color:#0d0015;
    margin: 5px 0px;
}
/*#00acf0*/
/*#ebf6f7藍白*/
